# Временные файлы и кэш Python
__pycache__/
services/__pycache__
ui/__pycache__
db/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Настройки VS Code
.vscode/


impo_reader.db
__init__.py


build/
main.spec
